td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-header {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  height: 2rem !important;
  width: 2rem !important;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
