<form [formGroup]="form" style="display: flex; margin: 20px;">
  <label for="cityName" class="form-control" style="margin-right: 10px;">Enter City Name</label>
  <input id="cityName" type="text" formControlName="cityName">
</form>

<button (click)="getData()">Get Data</button>



<h1>{{result?.length}}</h1>

<table>
  <tr>
    <th>City Name</th>
    <th>Country</th>
    <th>State (for US only)</th>
    <th>Temperature</th>
    <th>Max Temperature</th>
    <th>Min Temperature</th>
    <th>Feels Like</th>
    <th>Pressure</th>
    <th>Humidity</th>
    <th>Coordinates (lat/lon)</th>
    <th>Sea Level</th>
  </tr>
  <tr *ngFor="let e of result">
    <td>{{e.name}}</td>
    <td>{{e.country}}</td>
    <td>{{e.state}}</td>
    <td>{{e?.weather?.temp}}</td>
    <td>{{e?.weather?.temp_max}}</td>
    <td>{{e?.weather?.temp_min}}</td>
    <td>{{e?.weather?.feels_like}}</td>
    <td>{{e?.weather?.pressure}}</td>
    <td>{{e?.weather?.humidity}}</td>
    <td>{{e.lat}}/{{e.lon}}</td>
    <td>{{e?.weather?.sea_level}}</td>
  </tr>
</table>
<router-outlet></router-outlet>
