td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.column {
  flex-direction: column;
  width: 100%;
}

.history-card {
  width: 11rem;
  overflow: scroll;
  background-color: whitesmoke;
  height: 360px;
}

.s-button {
  margin: 1rem;
  font-size: 15px;
}
