<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
<form [formGroup]="form" style="display: flex; justify-content: center; align-items: center;height: 3rem;">
    <label for="cityName" class="form-control" style="margin-right: 10px; background-color: #46a7f7; max-height: 100%; display: flex; justify-content: center; align-items: center; padding: 1rem; color: whitesmoke; border-radius: 4px;"><span>Enter City Name</span></label>
    <input id="cityName" type="text" formControlName="cityName" style="border-radius: 4px; height: 100%;">
  </form>

  <button style="margin: 1rem;" (click)="getData()">Get Data</button>
  
  <h1 *ngIf="cityName">{{result?.length}} Cities found with the name {{cityName}}</h1>

  <app-generic-table [tableSetting]="tableSettings" [tableData]="result"></app-generic-table>
</div>


  