<div class="d-flex">
  <div class="center column">
    <form class="center form-layout" [formGroup]="form">
      <label for="cityName" class="form-control center form-label"
        ><span>Enter City Name</span></label
      >
      <input
        id="cityName"
        type="text"
        formControlName="cityName"
        class="form-input"
      />
    </form>

    <button style="margin: 1rem" (click)="search()">Get Data</button>

    <div *ngIf="!loading; else spinner">
      <h1 class="center" *ngIf="cityName && result">
        {{ result?.length }} Cities found with the name {{ cityName }}
      </h1>

      <app-generic-table
        [tableSetting]="tableSettings"
        [tableData]="result"
        (onRowClicked)="onRowClicked($event)"
      ></app-generic-table>
    </div>
    <ng-template #spinner>
      <div class="loader"></div>
    </ng-template>
  </div>

  <div class="history-card">
    <h3 style="padding: 1rem">Search History</h3>
    <ul *ngFor="let item of searchHistory">
      <li>
        <a href="#" (click)="searchFromHistory(item)">{{ item }}</a>
      </li>
    </ul>
    <button class="s-button" (click)="clearHistory()">Clear History</button>
  </div>
</div>
